* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background: none;    
  height: auto;        
  display: block;       
}

#intro {
  background-image: url("photo/intro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.title-box{
  position: absolute;
  top: 9%;
  align-items: center;
  transform: translateX(-50%);
  text-align: center;
  left: 50%;
}

.title-box h1 {
  color: white;
  white-space: nowrap;
  margin: 0;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.title-box h2 {
  color: black;
  white-space: nowrap;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/* intro 버튼 — 기존 디자인 유지 */
#intro button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);

  padding: 18px 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  white-space: nowrap;
  cursor: pointer;
}

/* PC 대응 — 기존 유지 */
@media (min-width: 768px) {
  #intro {
    background-size: contain;
    background-position: center top;
  }
}
/* 모든 질문 섹션은 초기 숨김 */
section.question {
  display: none;
}

/* 결과 화면도 초기 숨김 */
#result {
  display: none;
}
.question{
  text-align: center;
  margin-top: 60px;
}
  /*
#options{
  text-align: center;

}
.option{
  align-items: center;
}
   */
.question img{
  width: 280px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 3px
}
 
#options {
  display: flex;        /* ★ 핵심 */
  justify-content: center;  /* 가운데 정렬 */
  gap: 15px;
  margin-top: 10px;
}

.option button {
  border: 2px solid #000;
  background: white;
  padding: 12px 18px;
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
  width: 150px;
  text-align: center;
}
#result {
  display: none;
  padding: 20px;
  text-align: center;
}

#result img {
  width: 200px;
}

/* 진행바 */
#progress {
  width: 50%;          /* 전체의 반만 사용 */
  margin: 20px auto 0; /* 가운데 정렬 */
  height: 8px;
  background: #e6f0f2;
  border-radius: 4px;
  overflow: hidden;
}

#progress .bar {
  height: 100%;
  background: #94b8d1;
  width: 0%;
}


