body {
  background-image: url("photo/intro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;    
  align-items: center;         
}

.title-box{
  position: absolute;
  top: 9%;            
  align-items: center;
  transform: translateX(-50%);
  text-align: center;
}

.title-box h1 {
  color: white;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.title-box h2 {
  color: black;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#intro button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);

  padding: 18px 50px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    background-size: contain;
    background-position: center top;
  }
}
